/* this is my custom CSS */

footer {
	color: white;
}

body {
	background:rgba(200, 200, 200, 1);
}

* {
	font-family: sans-serif;
}

/*
 * Miscellaneous 
 */
.clear{
	clear: both;
}

.jumbotron{
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	background-position:center; 
	background-size: 100%;
}

.navbar{
	padding: 0px 20px 0px 0px;
	background:rgba(215,215,215,0.5);
}

.background-register{
	background-image: url(../images/register.png);
	background-size: 100%;
}

.background-login{
	background-image: url(../images/login.png);
	background-size: 100%;
}

.background-404{
	background-image: url(../images/404.png);
	background-size: 100%;
}

.centered{
	position: relative;
	border: solid black 10px;
	width: 400px;
	height: 500px;
 	margin: auto;
	text-align: middle;
	background-color: gray;
	vertical-align: text-top;
	margin-top: 200px;
}

.bg-colour-maroon{
	background-color: maroon;
}

.padding{
	padding: 0px 50px 50px 50px;
}

.border{
	border: solid black 10px;
}

.post{
	height: 300px;
	width: 250px;
    border-style: solid;
    border-width: 2px;
}

/*
 * right post
 */
.post_float_left{
	float: left;
	width: 30%;
}

.post_float_left_image img{
	width: 100%;
}

.post_float_left_type{
	float:left;
}

.post_float_right_level{
	float:right;
}

/*
 * left post
 */
.post_float_right{
	float: right;
	width: 70%;
}

.post_float_right_name{
	height: 20%;
	background-color: black;
	padding: 2px;
	text-align: center;
	color: white;
}

.post_float_right_description{
	height: 80%;
}




/*new stuff*/

.jumbotron-home{
	background: #f6f6f6 url(../images/home.png) no-repeat center center;
	background-size: cover;
	margin-bottom: -20px;
}

.jumbotron-bookshelf{
	background: #f6f6f6 url(images/bookshelf.png) no-repeat center;
	background-size: cover;
	margin-bottom: -20px;
}

.jumbotron-post{
	background: #f6f6f6 url(images/post.png) no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: -20px;
}

.navbar{
	padding: 15px;
	background:rgba(215,215,215,0.5);
}

.title1{
	background-color: gray;
	height: 50px;
}

.title2{
	background-color: white;
	height: 50px;
}

.text-center{
	text-align: center;
}

.padding10{
	padding: 10px;
}

.instruction{
	background-color: gray;
	height: 50px;
}

#step{
	background-color: maroon;
	width: 100px;
	height: 50px;
	float: left;
}

#instructions{
	padding: 10px 10px 10px 120px;
}