/* 
 * MUSBE CSS
 * By: Yichen Zhu
 */


/* ----- Globals start ----- */

input[type=text], [type=password]
{
    color: black;
    height: 30px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/
    border: 1px solid black;
}

footer {
	color: white;
}

body {
	background: white;
	color: black;
}

* {
	font-family: georgia;
}

hr {
    height: 1px;
    background: black;
}

img {

    width: 100%;
    height: auto;
    /* height: 200px; */
}

::-webkit-input-placeholder {
   color: #A7A7A7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A7A7A7;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A7A7A7;  
}

:-ms-input-placeholder {  
   color: #A7A7A7;  
}

/* Globals end */


/* ----- Helpers start ----- */

.clear{
	clear: both;
}

/* Helpers end */


/* ----- Paddings start ----- */

.padding10{
	padding: 10px;
}

.padding20{
	padding: 10px;
}

.padding-footer{
	padding: 10px 50px 100px 5px;
}

/* Paddings end*/


/* ----- Background Colors start ----- */

.background-color-gray{
	background-color: gray;
}

.background-color-white{
	background-color: white;
}

.background-color-maroon{
	background-color: maroon;
}

/* Background Colors start */


/* ----- Font Weights start ----- */

.font-weight-bold
{
	font-weight:bold;
}

/* Font Weights end */


/* ----- Font Colors start ----- */

.font-color-white{
	color: white;
}

.font-color-maroon{
	color: maroon;
}


/* Font Colors end */


/* ----- Font Sizes start ----- */

.font-size-em-10{
	font-size: 1.0em; 
}

.font-size-em-12{
	font-size: 1.2em; 
}

.font-size-em-14{
	font-size: 1.2em; 
}

.font-size-em-16{
	font-size: 1.6em; 
}

.font-size-em-20{
	font-size: 2.0em; 
}

.font-size-em-30{
	font-size: 3.0em; 
}

/* Font Sizes end */


/* ----- Alignments start -----*/

.text-center{
	text-align: center;
}

.centered{
	position: relative;
	width: 400px;
	min-height: 400px;
 	margin: auto;
	text-align: middle;
	margin-top: 200px;

}

/* Alignments end */


/* ----- Borders start ----- */

.border{
	border: solid black 10px;
}

.border-bottom{
	border-bottom: solid black 0.3em;
}

/* Borders end */


/* ---- Backgrounds and Jumbotrons start ----- */

.jumbotron-home{
	background: #f6f6f6 url(../images/home.png) no-repeat center center;
	background-size: cover;
	margin-bottom: -20px;
}

.background-404{
	background-image: url(../images/404.png) no-repeat;
	background-size: 100%;
}

.background-login{
	background-image: url(../images/login.png);
	background-size: 100%;
}

.background-register{
	background-image: url(../images/register.png);
	background-size: 100%;
}

.jumbotron-bookshelf{
	background: #f6f6f6 url(../images/bookshelf.png) no-repeat center;
	background-size: cover;
	margin-bottom: -20px;
}

.jumbotron-post{
	background: #f6f6f6 url(../images/post.png) no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: -20px;
}

.background-404{
	background-image: url(../images/404.png);
	background-size: 100%;
}

/* Backgrounds and Jumbotrons end */


/* ----- Navigation start -----*/

.navbar{
	padding: 20px;
	background:rgba(153, 153, 153,0.5);
}

.navbar-custom .navbar-nav > li > a {
	font-size: 1.2em; 
    color:black;
}

/* Navigation end */


/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */


/* ----- Misc start -----*/

.post{
	width: 250px;
    border-style: solid;
    border-width: 2px;
}

.custom-font-alpha{
	font-size: 0.8em;
	color: #A7A7A7;
}

.custom-background-alpha{
	background-color: rgba(184, 189, 196, 0.8);
	background: rgba(184, 189, 196, 0.8);
}

.custom-button-alpha{
	width: 70%;
	height: 30px;
	border: solid black 1px;
	color: white;
}

/* Misc end */


/* ----- Ids start -----*/

#step{
	background-color: maroon;
	width: 100px;
	float: left;
}

#instructions{
	float: left;
}

#logo{
	height: 40px;
	width: 150px;
}
/* Ids end */

.log-reg-input-width{
	width: 70%;
}
