.jumbotron-home{
	background: #f6f6f6 url(images/home.png) no-repeat center center;
	background-size: cover;
}

.jumbotron-bookshelf{
	background: #f6f6f6 url(images/bookshelf.png) no-repeat center;
	background-size: cover;
	margin-bottom: -20px;
}

.jumbotron-post{
	background: #f6f6f6 url(images/post.png) no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: -20px;
}

.navbar{
	padding: 15px;
	background:rgba(215,215,215,0.5);
}

.title1{
	background-color: gray;
	height: 50px;
}

.title2{
	background-color: white;
	height: 50px;
}

.text-center{
	text-align: center;
}

.padding10{
	padding: 10px;
}

.instruction{
	background-color: gray;
	height: 50px;
}

#step{
	background-color: maroon;
	width: 100px;
	height: 50px;
	float: left;
}

#instructions{
	padding: 10px 10px 10px 120px;
}